/* typography defaults */
h1, h2, h3, h4, h5, h6, p { 
  margin-top: 0;
  margin-bottom: 0;
}
[class*="fs0"], 
h1, [class*="fs1"], 
h2, [class*="fs2"], 
h3, [class*="fs3"], 
h4, [class*="fs4"], 
h5, [class*="fs5"], 
h6, [class*="fs6"], 
p, [class*="fs7"],
[class*="fs8"],
[class*="fs9"]  {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
body { font-smoothing: antialiased; -webkit-font-smoothing: antialiased; }
:is(h1, h2, h3, h4, h5, h6, p) a { text-decoration: underline; }
.w-richtext > *:first-child { margin-top: 0; }
.w-richtext > *:last-child { margin-bottom: 0; }

/* color defaults */
a { color: inherit; }
* { border-color: var(--bc1); -webkit-text-stroke-color: var(--sc1); }
*::selection { background: var(--selection-bg); color: var(--selection-fc); }
body,
[section-mode]:not([section-mode=""]), [class*="sm0"],
[card-mode]:not([card-mode=""]), [class*="cm0"],
[element-mode]:not([element-mode=""]), [class*="em0"],
[btn-mode]:not([btn-mode=""]), [class*="bm0"],
[link-mode]:not([link-mode=""]), [class*="lm0"] {
  background-color: var(--bg1);
  border-color: var(--bg1b);
  color: var(--fc1);
}
body,
:where([section-mode]:not([section-mode=""]), [class*="sm0"]),
:where([card-mode]:not([card-mode=""]), [class*="cm0"]),
:where([element-mode]:not([element-mode=""]), [class*="em0"]),
:where([btn-mode]:not([btn-mode=""]), [class*="bm0"]),
:where([link-mode]:not([link-mode=""]), [class*="lm0"]) {
  /* mode variable defaults */
  --m-bg1: transparent; --m-bg1-hover: var(--m-bg1); --m-bg1-active: var(--m-bg1);
  --m-bg2: transparent; --m-bg2-hover: var(--m-bg2); --m-bg2-active: var(--m-bg2);
  --m-bg3: transparent; --m-bg3-hover: var(--m-bg3); --m-bg3-active: var(--m-bg3);
  --m-bg1b: var(--bg1); --m-bg1b-hover: var(--m-bg1b); --m-bg1b-active: var(--m-bg1b);
  --m-fc1: inherit; --m-fc1-hover: var(--m-fc1); --m-fc1-active: var(--m-fc1);
  --m-fc2: var(--fc1); --m-fc2-hover: var(--m-fc2); --m-fc2-active: var(--m-fc2);
  --m-fc3: var(--fc1); --m-fc3-hover: var(--m-fc3); --m-fc3-active: var(--m-fc3);
  --m-bc1: var(--fc1); --m-bc1-hover: var(--m-bc1); --m-bc1-active: var(--m-bc1);
  --m-bc2: var(--fc1); --m-bc2-hover: var(--m-bc2); --m-bc2-active: var(--m-bc2);
  --m-bc3: var(--fc1); --m-bc3-hover: var(--m-bc3); --m-bc3-active: var(--m-bc3);
  --m-sc1: var(--fc1); --m-sc1-hover: var(--m-sc1); --m-sc1-active: var(--m-sc1);
  /* mode variable finals */
  --selection-bg: var(--fc1);
  --selection-fc: var(--bg1);
  --bg1: var(--m-bg1); --bg1-hover: var(--m-bg1-hover); --bg1-active: var(--m-bg1-active);
  --bg2: var(--m-bg2); --bg2-hover: var(--m-bg2-hover); --bg2-active: var(--m-bg2-active);
  --bg3: var(--m-bg3); --bg3-hover: var(--m-bg3-hover); --bg3-active: var(--m-bg3-active);
  --bg1b: var(--m-bg1b); --bg1b-hover: var(--m-bg1b-hover); --bg1b-active: var(--m-bg1b-active);
  --fc1: var(--m-fc1); --fc1-hover: var(--m-fc1-hover); --fc1-active: var(--m-fc1-active);
  --fc2: var(--m-fc2); --fc2-hover: var(--m-fc2-hover); --fc2-active: var(--m-fc2-active);
  --fc3: var(--m-fc3); --fc3-hover: var(--m-fc3-hover); --fc3-active: var(--m-fc3-active);
  --bc1: var(--m-bc1); --bc1-hover: var(--m-bc1-hover); --bc1-active: var(--m-bc1-active);
  --bc2: var(--m-bc2); --bc2-hover: var(--m-bc2-hover); --bc2-active: var(--m-bc2-active);
  --bc3: var(--m-bc3); --bc3-hover: var(--m-bc3-hover); --bc3-active: var(--m-bc3-active);
  --sc1: var(--m-sc1); --sc1-hover: var(--m-sc1-hover); --sc1-active: var(--m-sc1-active);
}
/* hover variables */
@media (pointer: fine) {
  [btn-mode]:not([class*="hv0"]):hover, [class*="bm0"]:not([class*="hv0"]):hover,
  a:hover [btn-mode]:not([class*="hv0"]), a:hover [class*="bm0"]:not([class*="hv0"]),
  [link-mode]:not([class*="hv0"]):hover, [class*="lm0"]:not([class*="hv0"]):hover,
  a:hover [link-mode]:not([class*="hv0"]), a:hover [class*="lm0"]:not([class*="hv0"]) {
    --bg1: var(--bg1-hover); --bg2: var(--bg2-hover); --bg3: var(--bg3-hover);
    --bg1b: var(--bg1b-hover);
    --fc1: var(--fc1-hover); --fc2: var(--fc2-hover); --fc3: var(--fc3-hover);
    --bc1: var(--bc1-hover); --bc2: var(--bc2-hover); --bc3: var(--bc3-hover);
    --sc1: var(--sc1-hover);
  }
}
/* active variables */
[link-mode].is-active, [class*="lm0"].is-active,
[link-mode].w--current, [class*="lm0"].w--current {
  --bg1: var(--bg1-active); --bg2: var(--bg2-active); --bg3: var(--bg3-active);
  --bg1b: var(--bg1b-active);
  --fc1: var(--fc1-active); --fc2: var(--fc2-active); --fc3: var(--fc3-active);
  --bc1: var(--bc1-active); --bc2: var(--bc2-active); --bc3: var(--bc3-active);
  --sc1: var(--sc1-active);
}
/* applies default border width to cards, elements, and buttons */
[card-mode]:not([card-mode=""]), [class*="cm0"],
[element-mode]:not([element-mode=""]), [class*="em0"],
[btn-mode]:not([btn-mode=""]), [class*="bm0"] {
  --border-width: var(--bw1);
}
/* btn and link mode transitions */
[btn-mode], [class*="bm0"],
[link-mode], [class*="lm0"] {
  transition-property: background-color, color, border-color;
  transition-duration: 200ms;
}

/* utility defaults */
* {
  --text-stroke-width: 0;
  -webkit-text-stroke-width: var(--text-stroke-width);
  --border-radius: 0;
  border-radius: var(--border-radius);
  --border-width: 0;
  border-width: var(--border-width);
  border-style: solid;
  --grid-column-gap: 0;
  grid-column-gap: var(--grid-column-gap);
  --grid-row-gap: 0;
  grid-row-gap: var(--grid-row-gap);
}

/* element defaults */
/* remove scroll bounce */
body { overscroll-behavior: none; }
/* prevent horizontal scroll */
.page_wrap { overflow: clip; }
/* enable setting w-button border radius with utilities */
.w-button { border-radius: var(--border-radius); }
/* hide container ::before & ::after */
.w-container::before, .w-container::after { display: none; }
/* empty webflow div in designer view */
.wf-empty { padding-bottom: 0; padding-right: 0; }

/* LAYOUT STYLES */
/* grid */
[class*="gd1"] {
  --grid-column-gap: var(--default-grid-gap);
  --grid-row-gap: var(--default-grid-gap);
  --column-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  grid-template-rows: auto;
  --column-span: 1;
  --column-start: auto;
  --row-span: 1;
}
[class*="gd1"] > * {
  grid-column-start: var(--column-start) !important;
  grid-column-end: span var(--column-span) !important;
  grid-row-start: auto !important;
  grid-row-end: span var(--row-span) !important;
}
/* column portrait */
[class*="cp1"] { --column-count: 1; }
[class*="cp2"] { --column-count: 2; }
[class*="cp3"] { --column-count: 3; }
[class*="cp4"] { --column-count: 4; }
[class*="cp5"] { --column-count: 5; }
[class*="cp6"] { --column-count: 6; }
[class*="cp7"] { --column-count: 7; }
[class*="cp8"] { --column-count: 8; }
[class*="cp9"] { --column-count: 9; }
[class*="cp10"] { --column-count: 10; }
[class*="cp11"] { --column-count: 11; }
[class*="cp12"] { --column-count: 12; }
/* item columns portrait */
[class*="gd1"] > [class*="cp1"] { --column-span: 1; }
[class*="gd1"] > [class*="cp2"] { --column-span: 2; }
[class*="gd1"] > [class*="cp3"] { --column-span: 3; }
[class*="gd1"] > [class*="cp4"] { --column-span: 4; }
[class*="gd1"] > [class*="cp5"] { --column-span: 5; }
[class*="gd1"] > [class*="cp6"] { --column-span: 6; }
[class*="gd1"] > [class*="cp7"] { --column-span: 7; }
[class*="gd1"] > [class*="cp8"] { --column-span: 8; }
[class*="gd1"] > [class*="cp9"] { --column-span: 9; }
[class*="gd1"] > [class*="cp10"] { --column-span: 10; }
[class*="gd1"] > [class*="cp11"] { --column-span: 11; }
[class*="gd1"] > [class*="cp12"] { --column-span: 12; }
/* row portrait */
[class*="rp1"] { --row-span: 1; }
[class*="rp2"] { --row-span: 2; }
[class*="rp3"] { --row-span: 3; }
[class*="rp4"] { --row-span: 4; }
[class*="rp5"] { --row-span: 5; }
[class*="rp6"] { --row-span: 6; }
/* start portrait */
[class*="sp1"] { --column-start: 1; }
[class*="sp2"] { --column-start: 2; }
[class*="sp3"] { --column-start: 3; }
[class*="sp4"] { --column-start: 4; }
[class*="sp5"] { --column-start: 5; }
[class*="sp6"] { --column-start: 6; }
[class*="sp7"] { --column-start: 7; }
[class*="sp8"] { --column-start: 8; }
[class*="sp9"] { --column-start: 9; }
[class*="sp10"] { --column-start: 10; }
[class*="sp11"] { --column-start: 11; }
[class*="sp0"] { --column-start: auto; }
/* order portrait */
[class*="op1"] { order: -1; }
[class*="op2"] { order: 1; }
[class*="op0"] { order: 0; }
/* landscape */
@media screen and (min-width: 480px) {
  /* column landscape */
  [class*="cl1"] { --column-count: 1; }
  [class*="cl2"] { --column-count: 2; }
  [class*="cl3"] { --column-count: 3; }
  [class*="cl4"] { --column-count: 4; }
  [class*="cl5"] { --column-count: 5; }
  [class*="cl6"] { --column-count: 6; }
  [class*="cl7"] { --column-count: 7; }
  [class*="cl8"] { --column-count: 8; }
  [class*="cl9"] { --column-count: 9; }
  [class*="cl10"] { --column-count: 10; }
  [class*="cl11"] { --column-count: 11; }
  [class*="cl12"] { --column-count: 12; }
  /* item columns landscape */
  [class*="gd1"] > [class*="cl1"] { --column-span: 1; }
  [class*="gd1"] > [class*="cl2"] { --column-span: 2; }
  [class*="gd1"] > [class*="cl3"] { --column-span: 3; }
  [class*="gd1"] > [class*="cl4"] { --column-span: 4; }
  [class*="gd1"] > [class*="cl5"] { --column-span: 5; }
  [class*="gd1"] > [class*="cl6"] { --column-span: 6; }
  [class*="gd1"] > [class*="cl7"] { --column-span: 7; }
  [class*="gd1"] > [class*="cl8"] { --column-span: 8; }
  [class*="gd1"] > [class*="cl9"] { --column-span: 9; }
  [class*="gd1"] > [class*="cl10"] { --column-span: 10; }
  [class*="gd1"] > [class*="cl11"] { --column-span: 11; }
  [class*="gd1"] > [class*="cl12"] { --column-span: 12; }
  /* row landscape */
  [class*="rl1"] { --row-span: 1; }
  [class*="rl2"] { --row-span: 2; }
  [class*="rl3"] { --row-span: 3; }
  [class*="rl4"] { --row-span: 4; }
  [class*="rl5"] { --row-span: 5; }
  [class*="rl6"] { --row-span: 6; }
  /* start landscape */
  [class*="sl1"] { --column-start: 1; }
  [class*="sl2"] { --column-start: 2; }
  [class*="sl3"] { --column-start: 3; }
  [class*="sl4"] { --column-start: 4; }
  [class*="sl5"] { --column-start: 5; }
  [class*="sl6"] { --column-start: 6; }
  [class*="sl7"] { --column-start: 7; }
  [class*="sl8"] { --column-start: 8; }
  [class*="sl9"] { --column-start: 9; }
  [class*="sl10"] { --column-start: 10; }
  [class*="sl11"] { --column-start: 11; }
  [class*="sl0"] { --column-start: auto; }
  /* order landscape */
  [class*="ol1"] { order: -1; }
  [class*="ol2"] { order: 1; }
  [class*="ol0"] { order: 0; }
}
/* tablet */
@media screen and (min-width: 768px) {
  /* column tablet */
  [class*="ct1"] { --column-count: 1; }
  [class*="ct2"] { --column-count: 2; }
  [class*="ct3"] { --column-count: 3; }
  [class*="ct4"] { --column-count: 4; }
  [class*="ct5"] { --column-count: 5; }
  [class*="ct6"] { --column-count: 6; }
  [class*="ct7"] { --column-count: 7; }
  [class*="ct8"] { --column-count: 8; }
  [class*="ct9"] { --column-count: 9; }
  [class*="ct10"] { --column-count: 10; }
  [class*="ct11"] { --column-count: 11; }
  [class*="ct12"] { --column-count: 12; }
  /* item columns tablet */
  [class*="gd1"] > [class*="ct1"] { --column-span: 1; }
  [class*="gd1"] > [class*="ct2"] { --column-span: 2; }
  [class*="gd1"] > [class*="ct3"] { --column-span: 3; }
  [class*="gd1"] > [class*="ct4"] { --column-span: 4; }
  [class*="gd1"] > [class*="ct5"] { --column-span: 5; }
  [class*="gd1"] > [class*="ct6"] { --column-span: 6; }
  [class*="gd1"] > [class*="ct7"] { --column-span: 7; }
  [class*="gd1"] > [class*="ct8"] { --column-span: 8; }
  [class*="gd1"] > [class*="ct9"] { --column-span: 9; }
  [class*="gd1"] > [class*="ct10"] { --column-span: 10; }
  [class*="gd1"] > [class*="ct11"] { --column-span: 11; }
  [class*="gd1"] > [class*="ct12"] { --column-span: 12; }
  /* row tablet */
  [class*="rt1"] { --row-span: 1; }
  [class*="rt2"] { --row-span: 2; }
  [class*="rt3"] { --row-span: 3; }
  [class*="rt4"] { --row-span: 4; }
  [class*="rt5"] { --row-span: 5; }
  [class*="rt6"] { --row-span: 6; }
  /* start tablet */
  [class*="st1"] { --column-start: 1; }
  [class*="st2"] { --column-start: 2; }
  [class*="st3"] { --column-start: 3; }
  [class*="st4"] { --column-start: 4; }
  [class*="st5"] { --column-start: 5; }
  [class*="st6"] { --column-start: 6; }
  [class*="st7"] { --column-start: 7; }
  [class*="st8"] { --column-start: 8; }
  [class*="st9"] { --column-start: 9; }
  [class*="st10"] { --column-start: 10; }
  [class*="st11"] { --column-start: 11; }
  [class*="st0"] { --column-start: auto; }
  /* order tablet */
  [class*="ot1"] { order: -1; }
  [class*="ot2"] { order: 1; }
  [class*="ot0"] { order: 0; }
}
/* desktop */
@media screen and (min-width: 992px) {
  /* column desktop */
  [class*="cd1"] { --column-count: 1; }
  [class*="cd2"] { --column-count: 2; }
  [class*="cd3"] { --column-count: 3; }
  [class*="cd4"] { --column-count: 4; }
  [class*="cd5"] { --column-count: 5; }
  [class*="cd6"] { --column-count: 6; }
  [class*="cd7"] { --column-count: 7; }
  [class*="cd8"] { --column-count: 8; }
  [class*="cd9"] { --column-count: 9; }
  [class*="cd10"] { --column-count: 10; }
  [class*="cd11"] { --column-count: 11; }
  [class*="cd12"] { --column-count: 12; }
  /* item columns desktop */
  [class*="gd1"] > [class*="cd1"] { --column-span: 1; }
  [class*="gd1"] > [class*="cd2"] { --column-span: 2; }
  [class*="gd1"] > [class*="cd3"] { --column-span: 3; }
  [class*="gd1"] > [class*="cd4"] { --column-span: 4; }
  [class*="gd1"] > [class*="cd5"] { --column-span: 5; }
  [class*="gd1"] > [class*="cd6"] { --column-span: 6; }
  [class*="gd1"] > [class*="cd7"] { --column-span: 7; }
  [class*="gd1"] > [class*="cd8"] { --column-span: 8; }
  [class*="gd1"] > [class*="cd9"] { --column-span: 9; }
  [class*="gd1"] > [class*="cd10"] { --column-span: 10; }
  [class*="gd1"] > [class*="cd11"] { --column-span: 11; }
  [class*="gd1"] > [class*="cd12"] { --column-span: 12; }
  /* row desktop */
  [class*="rd1"] { --row-span: 1; }
  [class*="rd2"] { --row-span: 2; }
  [class*="rd3"] { --row-span: 3; }
  [class*="rd4"] { --row-span: 4; }
  [class*="rd5"] { --row-span: 5; }
  [class*="rd6"] { --row-span: 6; }
  /* start desktop */
  [class*="sd1"] { --column-start: 1; }
  [class*="sd2"] { --column-start: 2; }
  [class*="sd3"] { --column-start: 3; }
  [class*="sd4"] { --column-start: 4; }
  [class*="sd5"] { --column-start: 5; }
  [class*="sd6"] { --column-start: 6; }
  [class*="sd7"] { --column-start: 7; }
  [class*="sd8"] { --column-start: 8; }
  [class*="sd9"] { --column-start: 9; }
  [class*="sd10"] { --column-start: 10; }
  [class*="sd11"] { --column-start: 11; }
  [class*="sd0"] { --column-start: auto; }
  /* order desktop */
  [class*="od1"] { order: -1; }
  [class*="od2"] { order: 1; }
  [class*="od0"] { order: 0; }
}

